{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded bg-light">
    <h2 class="text-center">Results</h2>
    <br>
    <table id="myTable" class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Link</th>
        </tr> 
      </thead>
      <tbody>
          {% for post in entries %}
        <tr>
          <td>{{ post['title'] }}</td>
          <td>{{ post['description'] }}</td>
          <td><a href={{ post['link'] }}>{{ post['link'] }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
      $(document).ready(function(){
          $('#myTable').dataTable();
      });
</script>
{% endblock content %}

